body {
	background-image: url("../images/bkgrnd.png");
	background-position: fixed;
	background-size: 100%;
}

/*moped collector title image*/
.banner {
	display: block;
	width: 600px;
	margin: 0 auto;
}

/*text box with the instructions for the game*/
.rules {
	display: block;
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
	opacity: .6;
	font-size: 18pt;
	padding: 5px;
	margin-bottom: 10px;
}

/*spacing for text between paragrahs*/
p {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*center alignment for randomNumber and the tracker*/
.info {
	display: block;
	width: 50%;
	margin: 0 auto;
}

/*properties for the random number*/
#randomNumber {
	float: left;
	background-color: #fff;
	opacity: .6;
	width: 50%;
	font-size: 39pt;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*properties for the wins and losses*/
.tracker {
	float: left;
	background-color: #000;
	opacity: .6;
	width: 50%;
	color: #fff;
	text-align: center;
	font-size: 20pt;
	padding-top: 10px;
	padding-bottom: 10px
}

/*allignment for the images used as icons*/
.images {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 5px;

}

/*resizing of images*/
#img1, #img2, #img3, #img4 {
	width: 300px;
	height: auto;
	padding-top: 20px;
}

/*properties for the total score text box*/
.totalscore {
	float: left;
	background-color: #000;
	opacity: .6;
	width: 50%;
	font-size: 25pt;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #fff;
	
}

/*properties for the total score calculated*/
#score {
	float: left;
	background-color: #fff;
	opacity: .6;
	width: 50%;
	font-size: 39pt;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	 
}
